
/** 
 * Responsive
 */

 /* En dessous de 1200 px */
 /* @media screen and (max-width: 1200px) {
    main {
        width: 60%;
        padding: 30px;
    }
} */


/* En dessous de 900 px */
@media screen and (max-width: 900px) {
    h1 {
        margin: 0 auto;
        font-size: 2rem;
        font-weight: bold;
        color: var(--color-primary);
    }  
    h2 {
        margin: 0 auto;
        font-size: 1.3rem;
        font-weight: 600;
        color: var(--color-secondary);
    }
    
    h3 {
        margin: 0 auto;
        font-size: 0.7rem;
        font-weight: 500;
        color: var(--color-secondary);
    }
    input[type='text'],
input[type='email'] {
    width: 100%;
    margin-right: 0.625rem;
    padding: 0.325rem;
    border: none;
    border-radius: 8px;
    font-size: 1rem;
    font-weight: 600;
    color: var(--color-primary);
}
header {
   width: 100%;
}
main {
    width: 95%;
    padding: 0.625rem;
}
footer {
    width: 100%;
    padding: 1.7re
}
.optionSource {
    margin: 1.2rem;
}
.zoneProposition {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 0.625rem 0 0.625rem 0;
    padding: 1.5rem;
    border-radius: 20px;
    background-color: white;
    font-size: 1.82rem;
    font-weight: 600;
    color: var(--color-primary);
}
.zoneSaisie {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 1.8rem;
}
 
    
}